.header-container{
    height: 40px;
    background-color: purple;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 20%;
}

.header-links a {
    color:white;
}

.header-dark {
    background-color: black;
}

.message {
    display: flex;
}